<h1> Convert <%= @from_currency %> to <%= @to_currency %> </h1>

<div> 1 <%= @from_currency %> equals <%= @exchange_rate %> <%= @to_currency %>.</div>

<br>

<div>
  Go <a href="/<%= @from_currency %>">back</a>.
</div>
